/* src/games/core/map/TileMap.css */

.tile-map {
  position: relative;
  margin: 0 auto;
  border: 2px solid #333;
  background-color: #000;

  /* Que el fondo ocupe TODO el contenedor (ancho y alto) */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;

  image-rendering: pixelated;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
